<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite">

<listeners>
<listener class-name="testngpracticeproject.implementsuitelistner"/>
</listeners>
<test name="demo test">

<classes>
<class name="testngpracticeproject.testngbasic"></class>
</classes>
</test>
</suite>

